body {
  margin: 0;
}
.background {
  width: 100%;
  height: 100%;
  display: block;
}
.Bigbox {
  width: 1024px;
  height: 100vh;
  display: block;
  margin: 0 auto;
}
.bigbox {
  width: 300px;
  height: 300px;
  display: inline-block;
}
.bigbox .box {
  width: 300px;
  height: 300px;
  background: url(img/dayao.jpg) no-repeat;
  border-radius: 50%;
  position: relative;
  transition: all .5s;
}
.bigbox .box::before {
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 16px inset, rgba(0, 0, 0, 0.3) 0px 1px 2px;
}
.bigbox:hover .box {
  transform: translateX(300px);
  opacity: 0;
  transition: all .5s;
}
.bigbox .xob {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #000000;
  margin: 0 auto;
  text-align: center;
  color: white;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
  transform: translateX(-300px);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.bigbox:hover .xob {
  transform: translateX(0);
  transition: all .3s;
  visibility: visible;
  opacity: 1;
}
